html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video
{
	padding: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline; 
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section
{
	display: block;
}

body
{
	font-weight: 400;
	line-height: 1;
	text-align: left;
	background-color: #ffffff;
}

ol, ul
{
	list-style: none;
}

blockquote, q
{
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after
{
	content: '';
	content: none;
}

table
{
	border-spacing: 0; 
	border-collapse: collapse;
}

button, input, select, textarea
{
	margin: 0;
}

img, embed, iframe, object, video
{
	max-width: 100%; 
	height: auto;
}

audio
{
	max-width: 100%;
}

iframe
{
	border: 0;
}

*, *::before, *::after
{
	box-sizing: border-box;
}

html
{
	font-size: 18px;
}

body
{
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	color: #636363;
	background: linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('../../maquette/home.png') top center no-repeat;
}

.container
{
	max-width: 1296px;
	padding: 0 20px; 
	margin: 0 auto;
}

.container-xlarge
{
	max-width: 1775px;
	padding: 0 20px; 
	margin: 0 auto;
}

.container-header
{
	margin: 0 auto;
}

.header-topbar
{
	display: flex;
	max-width: 1920px;
	padding: 0 113px 0 118px;
	background-color: #2a41e8; 

	justify-content: space-between;
	align-items: center;
}

.header-topbar-list-infos
{
	display: flex;
	width: 701px;

	justify-content: space-between;
}

.header-topbar-infos-item
{
	display: flex;

	align-items: center;
}

.header-topbar-infos-item-fa
{
	max-width: 17px;
	margin-right: 17px; 
	color: #ffffff;
}

.header-topbar-infos-item-p
{
	font-size: 0.88888rem;
	font-weight: 400; 
	color: #ffffff;
}

.header-topbar-list-logos
{
	display: flex;
}

.header-topbar-logos-item
{
	max-width: 60px;
	padding: 18px 22.7px; 
	text-align: center;
	border-left: 1px solid #3f54ea;
}

.header-topbar-logos-item-fa
{
	max-width: 17px;
	font-size: 0.77777rem; 
	color: #ffffff;
}

.header-topbar-logos-item-p
{
	font-size: 0.77777rem;
	font-weight: 500;
	color: #ffffff;
	text-transform: uppercase;
}

.header-topbar-block-login
{
	display: flex;
	padding: 21px 0 20px 27px;
	border-left: 1px solid #3f54ea;
}

.header-topbar-login-fa
{
	margin-right: 12px;
}

.header-middlebar
{
	display: flex;
	padding: 0 84px 0 119px;

	justify-content: space-between;
}

.header-middlebar-nav
{
	display: flex;

	justify-content: space-between;
	align-items: center;
}

.header-middlebar-nav-logo
{
	display: flex;
	padding: 21px 31px 20px 0;
	border-right: 1px solid #efefef; 

	align-items: center;
}

.header-middlebar-nav-logo-img, .footer-logo-img
{
	margin-right: 13px;
}

.header-middlebar-nav-logo-h1, .footer-logo-h1
{
	font-size: 1.55555rem;
	font-weight: 300; 
	color: #4b4d4f;
}

.header-middlebar-nav-logo-h1-highlight, .footer-logo-h1-highlight
{
	margin-left: -7px; 
	font-size: 1.55555rem;
	font-weight: 500;
	color: #4b4d4f;
}

.header-middlebar-nav-block-link
{
	padding-left: 27.7px;
}

.header-middlebar-nav-block-link-first
{
	padding-left: 36px;
}

.header-middlebar-nav-block-link-last
{
	padding-left: 48.5px;
}

.header-middlebar-nav-link
{
	font-size: 0.777777rem;
	font-weight: 500;
	color: #4b4d4f;
	text-decoration: none; 
	text-transform: uppercase;
}

.header-middlebar-nav-link-active
{
	color: #2a41e8;
}

.header-middlebar-nav-link-chevron
{
	margin-left: 8.5px;
	font-size: 0.555555rem;
	vertical-align: 25%;
}

.header-middlebar-list-buttons
{
	display: flex;

	justify-content: space-between;
	align-items: center;
}

.header-middlebar-button-compare
{
	display: flex;
	padding-right: 41px; 
	font-size: 0.77777rem;
	font-weight: 500;
	color: #4b4d4f;
	text-transform: uppercase;

	align-items: center;
}

.header-middlebar-button-compare-p
{
	margin-right: 9px; 
	font-size: 0.777777rem;
	font-weight: 500;
	color: #4b4d4f;
	text-transform: uppercase;
}

.header-middlebar-button-coeur
{
	padding: 32px 41px 32px 40.5px; 
	border-left: 1px solid #efefef;
}

.header-middlebar-button-fa
{
	font-size: 0.777777rem; 
	color: #262626;
}

.header-middlebar-button-submit
{
	background-color: #ff5e14;
}

.header-middlebar-button-submit-p
{
	padding: 34px 30px 33px 30px;
	font-size: 0.888888rem;
	font-weight: 500;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
}

.search
{
	background: url('../img/header-bg.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.search .container
{
	max-width: 1320px;
	padding: 161px 20px 250px 20px;
}

.search-title
{
	font-size: 2.333rem;
	font-weight: 500;
	color: #ffffff;
	letter-spacing: 0.15px;
}

.search-description
{
	margin: 20px 0 54px 0; 
	font-weight: 400;
	color: #ffffff;
}

.search-form
{
	display: flex;
	padding: 29px 29px 30px 29px; 
	background-color: #ffffff;
	border-radius: 4px;

	justify-content: space-between;
	align-items: center;
}

.search-form-block-type, .search-form-block-status
{
	display: flex;
	height: 60px; 
	padding: 13px 7px 14px 16px;
	flex-direction: column;
	background-color: #ececec;
	border-radius: 4px;
}

.search-form-block-type .search-form-label, .search-form-block-status .search-form-label
{
	margin-bottom: 6px;
}

.search-form-block-type
{
	width: 22.42%;
}

.search-form-block-status
{
	flex-basis: 15.384%;
}

.search-form-block-keywords
{
	height: 60px; 
	padding: 19px 21px;
	background-color: #ececec;
	border-radius: 4px;

	flex-basis: 37.31%;
}

.search-form-block-button
{
	height: 60px;
	padding: 19px 29px;
	text-align: center; 
	cursor: pointer;
	background-color: #2a41e8;
	border-radius: 4px;

	flex-basis: 17.51%;
}

.search-form-label
{
	font-size: 0.7777rem;
	font-weight: 500; 
	color: #9b9b9b;
}

.search-form-select
{
	-webkit-appearance: none;
	font-size: 0.888888rem;
	font-weight: 500;
	color: #232628;
	letter-spacing: 0.8px;
	background: none;
	background: no-repeat right 0.5rem center url('../img/arrowdown.png'); 
	border: none;
	outline: none;

	   -moz-appearance: none;
	        appearance: none;
}

.search-form-input
{
	width: 100%;
	font-size: 1rem;
	font-weight: 500;
	color: #646464;
	letter-spacing: 0.65px; 
	background: none;
	border: none;
	outline: none;
}

.search-form-submit
{
	padding: 0; 
	margin-top: 2px;
	font-size: 1rem;
	font-weight: 500;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: -0.5px;
	cursor: pointer;
	background: none;
	border: none;
	outline: none;
}

.container-section-title
{
	padding: 0 20px; 
	text-align: center;
}

.section-title-casaroyal
{
	margin-bottom: 20px; 
	font-size: 0.77777rem;
	font-weight: 500;
	color: #8c8c8c;
	text-transform: uppercase;
	letter-spacing: 2.15px;
}

.section-title
{
	font-size: 3.11111111rem;
	font-weight: 400; 
	color: #111111;
}

.section-title-bold
{
	font-weight: 500;
}

.featured .container-section-title
{
	margin-top: 123px;
	margin-bottom: 93px;
}

.featured .container
{
	max-width: 1295px;
	padding: 0 20px 0 23px; 
	margin: 0 auto;
}

.featured-list
{
	display: flex;

	justify-content: space-between;
	flex-wrap: wrap;
}

.featured-card
{
	position: relative;
	margin-bottom: 30px; 

	flex-basis: 31.709%;
}

.featured-card-top
{
	display: flex;
	height: 278px;
	flex-direction: column; 

	justify-content: space-between;
}

.featured-item-img
{
	position: absolute;
	z-index: -1;
}

.featured-card-top-row
{
	display: flex;
	padding: 24px 24px 0 25px; 

	justify-content: space-between;
	align-items: center;
}

.featured-card-top-row-second
{
	padding-bottom: 27px;
}

.featured-card-top-row-left
{
	display: flex;

	justify-content: space-between;
	align-items: center;
}

.featured-card-type
{
	margin-right: 4px; 
	background-color: #2a42e8;
	border-radius: 4px;
}

.featured-card-type-text, .featured-card-status-text
{
	padding: 10px 11px 8.4px 10px;
	font-size: 0.66666rem;
	font-weight: 500;
	color: #ffffff;
	text-transform: uppercase;
}

.featured-card-status
{
	background-color: #ff5e15; 
	border-radius: 4px;
}

.featured-card-top-row-right
{
	display: flex;

	justify-content: space-between;
	align-items: center;
}

.featured-card-thunder
{
	background-color: #2a42e8; 
	border-radius: 4px;
}

.featured-card-thunder-img
{
	padding: 10px 13px;
	font-size: 0.6rem;
	color: #ffffff;
}

.featured-card-price
{
	padding: 8px 17px; 
	background-color: #ffffff;
	border-radius: 4px;
}

.featured-card-price-text
{
	font-size: 0.833333rem;
	font-weight: 500; 
	color: #2a42e8;
}

.featured-card-heart, .featured-card-change
{
	background-color: #000000; 
	border-radius: 4px;
}

.featured-card-change
{
	margin-left: 4px;
}

.featured-card-heart-img, .featured-card-change-img
{
	padding: 8.5px 9.5px;
	font-size: 0.7777rem; 
	color: #ffffff;
}

.featured-card-bottom
{
	padding: 22px 25px 23px 25px;
	background-color: #ffffff;
}

.featured-card-address-small
{
	display: flex;

	align-items: center;
}

.featured-card-address-small-img
{
	margin-right: 7px; 
	font-size: 0.7rem;
	color: #ff5406;
}

.featured-card-address-small-text
{
	font-size: 0.777777rem;
	font-weight: 400; 
	color: #848484;
}

.featured-card-address
{
	margin-top: 23px;
	margin-bottom: 23px;
}

.featured-card-address-text
{
	font-size: 1.11111rem;
	font-weight: 400;
	line-height: 1.777777rem;
	color: #1d1d1d;
	letter-spacing: 0.1px;
}

.featured-card-bottom-middle
{
	display: flex;
	margin-bottom: 24px; 

	justify-content: space-between;
	align-items: center;
}

.featured-card-author
{
	display: flex;

	justify-content: space-between;
	align-items: center;
}

.featured-card-author-img
{
	max-width: 16px; 
	margin-right: 6px;
}

.featured-card-author-name
{
	font-size: 0.77777rem;
	font-weight: 400; 
	color: #2a41e8;
}

.featured-card-date
{
	display: flex;

	justify-content: space-between;
	align-items: center;
}

.featured-card-date-img
{
	font-size: 0.7777rem; 
	color: #848484;
}

.featured-card-date-text
{
	margin-left: 9px; 
	font-size: 0.7777rem;
	font-weight: 400;
	color: #848484;
}

.featured-card-bottom-bottom
{
	display: flex;
	padding-top: 19px; 
	border-top: 1px solid #f4f4f4;

	justify-content: space-between;
	align-items: center;
}

.featured-card-sqft
{
	display: flex;

	justify-content: space-between;
	align-items: center;
}

.featured-card-sqft-img
{
	margin-right: 7px;
}

.featured-card-sqft-text
{
	font-size: 0.8888rem;
	font-weight: 400; 
	color: #111111;
}

.featured-card-sqft-text-bold
{
	font-weight: 500;
}

.featured-card-equipments
{
	display: flex;

	justify-content: space-between;
	align-items: center;
}

.featured-card-equipments-item
{
	display: flex;
	margin-left: 22px;

	align-items: center;
}

.featured-card-equipments-img
{
	margin-top: -6px;
}

.featured-card-equipments-number
{
	margin-left: 7px;
	font-size: 0.8888rem;
	font-weight: 500; 
	color: #111111;
}

.featured-button
{
	max-width: 268px;
	margin: 0 auto;
	margin-top: 38px;
	text-align: center; 
	background-color: #000000;
	border-radius: 29px;
}

.featured-button-text
{
	padding: 20px 0; 
	font-weight: 500;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.hotdeal .container-section-title
{
	margin-top: 181px;
	margin-bottom: 95px;
}

.hotdeal .container
{
	max-width: 1295px;
	padding: 0 22px 0 20px; 
	margin: 0 auto;
}

.hotdeal-card
{
	display: flex;
	height: 597px;
}

.hotdeal-card-left
{
	position: relative;
	margin-right: 1px; 

	flex-basis: 50%;
}

.hotdeal-card-img
{
	position: absolute;
	z-index: -1;
}

.hotdeal-button-photo
{
	display: inline-block; 
	margin: 498px 0 0 67px;
	background-color: #ffffff;
	border-radius: 4px;
}

.hotdeal-button-photo-text
{
	padding: 12px 19px 14px 20px; 
	font-size: 0.888888rem;
	font-weight: 500;
	color: #2a42e8;
}

.hotdeal-card-right
{
	display: flex;
	flex-direction: column;
	background-color: #292929; 

	flex-basis: 50%;
	align-items: center;
}

.hotdeal-card-title
{
	padding-left: 3px;
	margin-top: 60px;
	font-weight: 400; 
	color: #9b9b9b;
	letter-spacing: 0.2px;
}

.hotdeal-card-title-second
{
	margin-top: 43px;
	font-size: 2rem;
	font-weight: 500; 
	color: #ffffff;
}

.hotdeal-card-location
{
	display: flex;
	margin-top: 46px; 

	align-items: center;
}

.hotdeal-card-location-img
{
	margin-right: 4px;
}

.hotdeal-card-location-text
{
	font-weight: 400; 
	color: #9b9b9b;
}

.hotdeal-button-rent
{
	margin-top: 54px; 
	background-color: #ff5e15;
	border-radius: 4px;
}

.hotdeal-button-rent-text
{
	padding: 14px 24px 12px 27px;
	font-size: 0.888888rem;
	font-weight: 400; 
	color: #ffffff;
}

.hotdeal-button-rent-text-bold
{
	font-weight: 500;
}

.hotdeal-button-play
{
	margin-top: 59px;
}

.hotdeal-list-infos
{
	display: flex;
	padding-left: 6px; 
	margin-top: 61px;

	justify-content: space-between;
	align-items: center;
}

.hotdeal-item-infos
{
	display: flex;

	align-items: center;
}

.hotdeal-item-area
{
	margin-right: 40px;
}

.hotdeal-item-bed
{
	margin-right: 41px;
}

.hotdeal-item-bathroom
{
	margin-right: 54px;
}

.hotdeal-item-infos-img
{
	margin-right: 11px;
}

.hotdeal-item-infos-text
{
	display: flex;
	flex-direction: column;
}

.hotdeal-item-infos-text-number
{
	font-weight: 500;
}

.hotdeal-item-infos-text-letter
{
	font-size: 0.888888rem;
	font-weight: 400; 
	color: #9b9b9b;
}

.area .container-section-title
{
	margin-top: 184px;
	margin-bottom: 92px;
}

.area .container
{
	max-width: 1296px;
	padding: 0 20px; 
	margin: 0 auto;
}

.area-mosaic-row
{
	display: flex;
	margin-bottom: 30px;

	justify-content: space-between;
	align-items: center;
}

.area-mosaic-item
{
	position: relative;
	height: 360px; 
	border-radius: 6px;
}

.area-mosaic-losangles, .area-mosaic-sandiego
{
	flex-basis: 31.847%;
}

.area-mosaic-sanfrancisco, .area-mosaic-seattle
{
	flex-basis: 65.764%;
}

.area-mosaic-item-img
{
	position: absolute;
	z-index: -1;
	width: auto; 
	height: 100%;
}

.area-mosaic-item-text
{
	padding: 285px 0 0 31px;
}

.area-mosaic-item-text-city
{
	font-size: 1.77777rem;
	font-weight: 500;
	color: #ffffff;
	letter-spacing: 3px;
}

.area-mosaic-item-text-properties
{
	display: flex;
	margin-top: 8px;

	align-items: center;
}

.area-mosaic-item-text-properties-img
{
	margin-right: 8px;
}

.area-mosaic-item-text-properties-text
{
	font-weight: 400; 
	color: #ffffff;
}

.agents
{
	background-color: #f3f3f3;
}
.agents .container-section-title
{
	padding-top: 92px; 
	margin-top: 122px;
	margin-bottom: 95px;
}
.agents .container
{
	max-width: 1296px;
	padding: 0 20px 0 21px; 
	margin: 0 auto;
}

.agents-list
{
	display: flex;

	align-items: center;
	justify-content: space-between;
}

.agents-item
{
	padding: 30px 30px 28px 30px;
	background-color: #ffffff; 
	border-radius: 4px;

	flex-basis: 31.8725%;
}

.agents-item-job
{
	margin-top: 28px; 
	font-weight: 400;
	color: #999999;
}

.agents-item-name
{
	margin-top: 20px;
	margin-bottom: 34px;
	margin-left: -2px; 
	font-size: 2rem;
	font-weight: 400;
	color: #111111;
	text-transform: uppercase;
	letter-spacing: 0.2px;
}

.agents-item-number
{
	margin-bottom: 12px;
}

.agents-item-number, .agents-item-email
{
	font-weight: 400; 
	color: #636363;
}

.agents-item-list-socials
{
	display: flex;

	align-items: center;
}

.agents-item-social
{
	margin-top: 45px;
}

.agents-item-social-icon
{
	padding: 18px 26.5px;
	color: #262626; 
	border: 1px solid #ececec;
}

.agents-item-social .fa-facebook-f
{
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.agents-item-social .fa-linkedin-in
{
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.agents-navigation
{
	display: flex;
	padding-bottom: 65px; 
	margin-top: 86px;

	align-items: center;
	justify-content: center;
}

.agents-navigation-block
{
	margin: 0 8.5px 0 8.5px;
}

.agents-navigation-point:after
{
	display: block;
	width: 10px;
	height: 10px;
	content: '';
	background-color: #000000; 
	border-radius: 10px;
}

.agents-navigation-block
{
	padding: 5px;
	border: 1px solid #f3f3f3;
	border-radius: 15px;
}

.agents-navigation-block-active
{
	border-color: #000000;
}

.agents-navigation-block:hover
{
	border-color: #000000;
}

.sell
{
	background: url('../img/sellpropertyimg.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.sell .sell-container
{
	padding: 187px 0 186px 325px;
}

.sell-block
{
	max-width: 734px; 
	padding: 90px 123px 91px 76px;
	background-color: #2842cd;
}

.sell-title
{
	margin-bottom: 38px; 
	font-size: 3.33333rem;
	font-weight: 500;
	line-height: 3.33333rem;
	color: #ffffff;
}

.sell-description
{
	margin-bottom: 44px; 
	font-size: 1.11111rem;
	font-weight: 400;
	line-height: 1.666666rem;
	color: #c6cbea;
}

.sell-button
{
	display: inline-block;
	padding: 20px 32px 20px 36.5px; 
	background-color: #000000;
	border-radius: 29px;
}

.sell-button-link
{
	display: flex;
	font-weight: 500;
	color: #ffffff;
	text-decoration: none; 
	text-transform: uppercase;
	letter-spacing: 2px;

	align-items: center;
}

.sell-button-link-arrow
{
	margin-left: 39px;
	font-size: 0.5rem; 
	color: #ffffff;
}

.agencies
{
	margin-bottom: 194px;
}
.agencies .container-section-title
{
	margin-top: 132px;
	margin-bottom: 93px;
}
.agencies .container
{
	max-width: 1295px;
	padding: 0 20px; 
	margin: 0 auto;
}

.agencies-list
{
	display: flex;

	justify-content: space-between;
	align-items: center;
}

.agencies-item
{
	display: flex;
	padding: 30px 31px 46px 34px;
	flex-direction: column;
	background-color: #ffffff; 
	border-radius: 6px;

	align-items: center;
	flex-basis: 31.8725%;
}

.agencies-item-topbar
{
	display: flex;
	width: 100%; 

	justify-content: space-between;
	align-items: center;
}

.agencies-item-verified
{
	display: flex;

	align-items: center;
}

.agencies-item-verified-img
{
	margin-right: 11px;
}

.agencies-item-verified-text
{
	font-size: 0.88888rem;
	font-weight: 400; 
	color: #676767;
}

.agencies-item-star
{
	display: flex;

	align-items: center;
}

.agencies-item-star-img
{
	margin-right: 6px;
	font-size: 0.85rem; 
	color: #ffc107;
}

.agencies-item-star-text
{
	font-size: 0.8888rem;
	font-weight: 400; 
	color: #676767;
}

.agencies-item-img
{
	margin-top: 42px;
	margin-bottom: 62px;
}

.agencies-item-city
{
	display: flex;

	align-items: center;
}

.agencies-item-city-img
{
	margin-right: 11px;
}

.agencies-item-city-text
{
	font-weight: 400; 
	color: #999999;
}

.agencies-item-name
{
	margin-top: 20px;
	margin-bottom: 18px;
	font-size: 2rem;
	font-weight: 400;
	color: #111111;
	letter-spacing: 0.2px;
}

.agencies-item-number
{
	font-weight: 400; 
	color: #636363;
}

.agencies-item-email
{
	margin-top: 12px;
	margin-bottom: 38px;
	font-weight: 400; 
	color: #636363;
}

.agencies-item-button
{
	padding: 13px 17px 14px 18px;
	background-color: #eaedfd; 
	border-radius: 3px;
}

.agencies-item-button-text
{
	font-size: 0.88888rem;
	font-weight: 400; 
	color: #2a41e8;
}

.articles
{
	padding-top: 121px;
	padding-bottom: 120px; 
	background-color: #f3f3f3;
}
.articles .container-section-title
{
	margin-bottom: 128px;
}
.articles .container
{
	max-width: 1295px;
	padding: 0 19px 0 22px; 
	margin: 0 auto;
}

.articles-list
{
	display: flex;

	justify-content: space-between;
}

.articles-item
{
	background-color: #ffffff; 
	border-radius: 6px;

	flex-basis: 31.897%;
}

.articles-item-block-bottom
{
	display: flex;
	height: 248px;
	padding: 25px 26px 32px 30px;
	flex-direction: column;
}

.articles-item-category
{
	background-color: #2a42e8;
	border-radius: 3px;

	align-self: flex-start;
}

.articles-item-category-text
{
	padding: 7px 13px 5px 13px;
	font-size: 0.72222rem;
	font-weight: 400; 
	color: #ffffff;
}

.articles-item-title
{
	margin-top: 12px;
	font-size: 1.55555rem;
	font-weight: 500;
	line-height: 40px; 
	color: #111111;
	text-transform: uppercase;
}

.articles-item-date
{
	display: flex;
	margin-top: auto; 
	border-top: 1px solid #f7f7f7;

	align-items: center;
}

.articles-item-date-img, .articles-item-date-text
{
	padding-top: 30px;
}

.articles-item-date-img
{
	margin-right: 7px;
}

.articles-item-date-text
{
	font-size: 0.777777rem;
	font-weight: 500;
	color: #111111;
	text-transform: uppercase; 
	letter-spacing: 1px;
}

.articles-button
{
	max-width: 324px;
	margin: 0 auto;
	margin-top: 124px;
	text-align: center; 
	background-color: #000000;
	border-radius: 29px;
}

.articles-button-text
{
	padding: 20px;
	font-weight: 500;
	color: #ffffff;
	text-transform: uppercase; 
	letter-spacing: 2px;
}

.values
{
	margin-top: 123px;
	margin-bottom: 118px;
}
.values .container-section-title
{
	margin-bottom: 96px;
}
.values .container
{
	max-width: 1296px;
	padding: 0 20px 0 22px; 
	margin: 0 auto;
}

.values-list
{
	display: flex;

	justify-content: space-between;
}

.values-item
{
	display: flex;
	height: 314px; 
	padding: 40px 39px 38px 42px;
	flex-direction: column;
	border-radius: 6px;

	flex-basis: 31.897%;
}

.values-send .values-item-title
{
	margin-top: 19px;
}

.values-coeur
{
	padding-top: 42px;
}

.values-item-img
{
	align-self: flex-start;
}

.values-item-title
{
	margin-top: 23px;
	margin-bottom: 22px;
	font-size: 1.55555rem;
	font-weight: 400;
	line-height: 2rem; 
	color: #111111;
}

.values-item-description
{
	font-size: 0.8888rem;
	font-weight: 400;
	line-height: 1.55555rem; 
	color: #999999;
}

.values-button
{
	max-width: 203px;
	margin: 64.5px auto 0 auto; 
	background-color: #000000;
	border-radius: 29px;
}

.values-button-text
{
	padding: 20px 0 20px 41px;
	font-weight: 500;
	color: #ffffff;
	text-transform: uppercase; 
	letter-spacing: 2px;
}

.reviews
{
	background: url('../img/clientssay-bg.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.reviews .container
{
	max-width: 1300px;
	padding: 161px 20px 188px 25px; 
	margin: 0 auto;
}

.reviews-title-small
{
	font-size: 0.77777rem;
	font-weight: 500;
	color: #f4f4f4;
	text-transform: uppercase; 
	letter-spacing: 2px;
}

.reviews-title
{
	margin-top: 20px;
	margin-bottom: 113px;
	font-size: 3.11111rem;
	font-weight: 400; 
	color: #ffffff;
}

.reviews-title-bold
{
	font-weight: 500;
}

.reviews-description
{
	max-width: 1256px;
	margin-bottom: 63px;
	font-size: 1.66666rem;
	font-weight: 500;
	line-height: 2.666666rem; 
	color: #f4f4f4;
	letter-spacing: 1px;
}

.reviews-bottombar
{
	display: flex;

	justify-content: space-between;
	align-items: center;
}

.reviews-bottombar-left
{
	display: flex;

	align-items: center;
}

.reviews-author-img
{
	margin-right: 28px;
}

.reviews-author-infos
{
	display: flex;
	flex-direction: column;
}

.reviews-author-infos-name
{
	margin-bottom: 8px;
	font-size: 1.33333rem;
	font-weight: 500;
	color: #f4f4f4;
	text-transform: uppercase; 
	letter-spacing: 0.8px;
}

.reviews-author-infos-city
{
	font-size: 0.8333333rem;
	font-weight: 400;
	color: #afafaf;
	text-transform: uppercase; 
	letter-spacing: 0.5px;
}

.reviews-bottombar-right
{
	display: flex;

	align-items: center;
	justify-content: space-between;
}

.reviews-block-arrow
{
	background-color: #2a42e8; 
	border-radius: 4px;
}

.reviews-block-arrow-left
{
	margin-right: 5px;
}

.reviews-arrow-left
{
	padding: 20px 23px 19px 27px;
}

.reviews-arrow-right
{
	padding: 20px 23px 19px 28px;
}

.reviews-arrow-left, .reviews-arrow-right
{
	font-size: 1.111111rem; 
	color: #ffffff;
}

.footer
{
	background-color: #151515;
}

.footer-topbar
{
	display: flex;
	padding-right: 278px; 
	padding-left: 324px;
	margin-bottom: 97px;
	border-bottom: 1px solid #191919;

	justify-content: space-between;
	align-items: center;
}

.footer-logo
{
	display: flex;

	align-items: center;
}

.footer-logo-h1, .footer-logo-h1-highlight
{
	color: #ffffff;
}

.footer-list-socials
{
	display: flex;

	align-items: center;
}

.footer-item-socials
{
	padding: 40px; 
	border-left: 1px solid #191919;
}

.footer-item-socials-last
{
	margin-right: 46px;
	border-right: 1px solid #191919;
}

.footer-item-socials-icon
{
	font-size: 1.4rem; 
	color: #ffffff;
}

.footer-middlebar
{
	display: flex;
	max-width: 1306px;
	padding: 0 20px 82px 26px;
	margin: 0 auto;
}

.footer-col
{
	display: flex;
	flex-direction: column;
}

.footer-col-1
{
	margin-right: 22px; 

	flex-basis: 14.8%;
}

.footer-col-2
{
	margin-right: 67px; 

	flex-basis: 12.07%;
}

.footer-col-3
{
	margin-right: 87px; 

	flex-basis: 10.5%;
}

.footer-col-4
{
	margin-right: 82px;

	flex-basis: 11%;
}

.footer-col-5
{
	flex-basis: 32%;
}

.footer-col-title
{
	font-size: 0.88888rem;
	font-weight: 500;
	color: #b9b9b9;
	text-transform: uppercase; 
	letter-spacing: 1.14px;
}

.footer-col-nav
{
	display: flex;
	margin-top: 52.5px; 
	flex-direction: column;
}

.footer-col-nav-link
{
	margin-bottom: 26px; 
	font-size: 0.88888rem;
	font-weight: 400;
	color: #8a8a8a;
	text-decoration: none;
	letter-spacing: 1.14px;
}

.footer-col-theme
{
	margin-top: 39px;
	margin-bottom: 22px; 
	font-family: Rubik;
	font-size: 0.88888rem;
	font-weight: 400;
	line-height: 1.33333rem;
	color: #8a8a8a;
	letter-spacing: 1.14px;
}

.footer-col-theme-bold
{
	font-weight: 500;
}

.footer-col-linklogo
{
	display: flex;

	align-items: center;
}

.footer-col-linklogo-link
{
	font-size: 0.88888rem;
	font-weight: 400;
	line-height: 1.33333rem;
	color: #8a8a8a;
	text-decoration: none; 
	letter-spacing: 1.14px;
}

.footer-col-linklogo-logo
{
	margin-right: 11px;
	font-size: 0.88888rem; 
	color: #8a8a8a;
}

.footer-bottombar
{
	display: flex;
	padding-top: 63px;
	padding-bottom: 63px; 
	border-top: 1px solid #252525;

	align-items: center;
	justify-content: space-between;
}

.footer-bottombar-left
{
	padding-left: 326px;
}

.footer-bottombar-text
{
	font-size: 0.7777rem;
	font-weight: 400; 
	color: #8a8a8a;
	letter-spacing: 1.08px;
}

.footer-bottombar-text-bold
{
	font-weight: 500;
}

.footer-bottombar-right
{
	padding-right: 320px; 
	margin-top: -2px;
}

.footer-bottombar-list-links
{
	display: flex;

	align-items: center;
}

.footer-bottombar-link
{
	margin-left: 18px;
}

.footer-bottombar-link-text
{
	font-size: 0.77777rem;
	font-weight: 700;
	color: #8a8a8a;
	text-decoration: none;
	letter-spacing: 1px;
}
