html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, main, menu, nav, section {
  display: block;
}
body {
  font-weight: 400;
  line-height: 1;
  text-align: left;
  background-color: #fff;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,input,select,textarea
{
  margin:0;
}

img,embed,iframe,object,video
{
  height:auto;
  max-width:100%;
}
audio{
  max-width:100%;
}
iframe{
  border:0;
}

*, *::before, *::after
{
  box-sizing: border-box;
}

html
{
  font-size: 18px;
}

body
{
  color: #636363;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  //background-color: #fafafa;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('../../maquette/home.png') top center no-repeat;
  //background: url('../../maquette/home.png') top center no-repeat;
}

.container
{
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-xlarge
{
  max-width: 1775px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-header
{
  margin: 0 auto;
}

.header-topbar
{
  padding: 0 113px 0 118px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  background-color: #2a41e8;
}

.header-topbar-list-infos
{
  width: 701px;
  display: flex;
  justify-content: space-between;
}

.header-topbar-infos-item
{
  display: flex;
  align-items: center;
}

.header-topbar-infos-item-fa
{
  color: #ffffff;
  max-width: 17px;
  margin-right: 17px;
}

.header-topbar-infos-item-p
{
  color: #ffffff;
  font-size: 0.88888rem;
  font-weight: 400;
}

.header-topbar-list-logos
{
  display: flex;
}

.header-topbar-logos-item
{
  max-width: 60px;
  border-left: 1px solid #3f54ea;
  text-align: center;
  padding: 18px 22.7px;
}

.header-topbar-logos-item-fa
{
  max-width: 17px;
  color: #ffffff;
  font-size: 0.77777rem;
}

.header-topbar-logos-item-p
{
  color: #ffffff;
  font-size: 0.77777rem;
  font-weight: 500;
  text-transform: uppercase;
}

.header-topbar-block-login
{
  padding: 21px 0px 20px 27px;
  display: flex;
  border-left: 1px solid #3f54ea;
}

.header-topbar-login-fa
{
  margin-right: 12px;
}

.header-middlebar
{
  padding: 0 84px 0 119px;
  display: flex;
  justify-content: space-between;
}

.header-middlebar-nav
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-middlebar-nav-logo
{
  display: flex;
  align-items: center;
  padding: 21px 31px 20px 0;
  border-right: 1px solid #efefef;
}

.header-middlebar-nav-logo-img, .footer-logo-img
{
  margin-right: 13px;
}

.header-middlebar-nav-logo-h1, .footer-logo-h1
{
  font-size: 1.55555rem;
  color: #4b4d4f;
  font-weight: 300;
}

.header-middlebar-nav-logo-h1-highlight, .footer-logo-h1-highlight
{
  font-size: 1.55555rem;
  color: #4b4d4f;
  font-weight: 500;
  margin-left: -7px;
}

.header-middlebar-nav-block-link
{
  padding-left: 27.7px;
}

.header-middlebar-nav-block-link-first
{
  padding-left: 36px;
}

.header-middlebar-nav-block-link-last
{
  padding-left: 48.5px;
}

.header-middlebar-nav-link 
{
  color: #4b4d4f;
  font-size: 0.777777rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

.header-middlebar-nav-link-active
{
  color: #2a41e8;
}

.header-middlebar-nav-link-chevron
{
  margin-left: 8.5px;
  font-size: 0.555555rem;
  vertical-align: 25%;
}

.header-middlebar-list-buttons
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-middlebar-button-compare
{
  color: #4b4d4f;
  font-size: 0.77777rem;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding-right: 41px;
}

.header-middlebar-button-compare-p
{
  color: #4b4d4f;
  font-size: 0.777777rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 9px;
}

.header-middlebar-button-coeur
{
  border-left: 1px solid #efefef; 
  padding: 32px 41px 32px 40.5px; 
}

.header-middlebar-button-fa
{
  color: #262626;
  font-size: 0.777777rem;
}

.header-middlebar-button-submit
{
  background-color: #ff5e14;
}

.header-middlebar-button-submit-p
{
  color: #ffffff;
  font-size: 0.888888rem;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 34px 30px 33px 30px;
  text-transform: uppercase;
  cursor: pointer;
}

.search
{
  background: url('../img/header-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  .container
  {
    max-width: 1320px;
    padding: 161px 20px 250px 20px;
  }
}

.search-title
{
  color: #ffffff;
  font-size: 2.333rem;
  font-weight: 500;
  letter-spacing: 0.15px;
}

.search-description
{
  color: #ffffff;
  font-weight: 400;
  margin: 20px 0 54px 0;
}

.search-form
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 29px 29px 30px 29px;
}

.search-form-block-type, .search-form-block-status
{
  border-radius: 4px;
  background-color: #ececec;
  padding: 13px 7px 14px 16px;
  display: flex;
  flex-direction: column;
  height: 60px;
}

.search-form-block-type, .search-form-block-status
{
  .search-form-label
  {
    margin-bottom: 6px;
  }
}


.search-form-block-type
{
  width: 22.42%;
}

.search-form-block-status
{
  flex-basis: 15.384%;
}

.search-form-block-keywords
{
  border-radius: 4px;
  background-color: #ececec;
  flex-basis: 37.31%;
  padding: 19px 21px;
  height: 60px;
}

.search-form-block-button
{
  border-radius: 4px;
  background-color: #2a41e8;
  flex-basis: 17.51%;
  padding: 19px 29px;
  height: 60px;
  cursor: pointer;
  text-align: center;

}

.search-form-label
{
  color: #9b9b9b;
  font-size: 0.7777rem;
  font-weight: 500;
}

.search-form-select
{
  color: #232628;
  font-size: 0.888888rem;
  font-weight: 500;
  border: none;
  outline: none;
  letter-spacing: 0.8px;
  background: none;
  -moz-appearance:none; 
  -webkit-appearance:none; 
  appearance: none;
  background: no-repeat right 0.5rem center url('../img/arrowdown.png');
}

.search-form-input
{
  color: #646464;
  font-weight: 500;
  background: none;
  outline: none;
  border: none;
  width: 100%;
  font-size: 1rem;
  letter-spacing: 0.65px;
}

.search-form-submit
{
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: -0.5px;
  margin-top: 2px;
  padding: 0;
}

.container-section-title
{
  text-align: center;
  padding: 0 20px;
}

.section-title-casaroyal
{
  color: #8c8c8c;
  font-size: 0.77777rem;
  font-weight: 500;
  letter-spacing: 2.15px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.section-title
{
  color: #111111;
  font-size: 3.11111111rem;
  font-weight: 400;
}

.section-title-bold
{
  font-weight: 500;
}

.featured
{

  .container-section-title
  {
    margin-top: 123px;
    margin-bottom: 93px;
  }

  .container
  {
    max-width: 1295px;
    margin: 0 auto;
    padding: 0 20px 0 23px;
  }
}

.featured-list
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;  
}

.featured-card
{
  position: relative;
  flex-basis: 31.709%;
  margin-bottom: 30px;
}

.featured-card-top
{
  height: 278px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.featured-item-img
{
  position: absolute;
  z-index: -1;
}

.featured-card-top-row
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px 0 25px;
}

.featured-card-top-row-second
{
  padding-bottom: 27px;
}

.featured-card-top-row-left
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.featured-card-type
{
  border-radius: 4px;
  background-color: #2a42e8;
  margin-right: 4px;
}

.featured-card-type-text, .featured-card-status-text
{
  padding: 10px 11px 8.4px 10px;
  color: #ffffff;
  font-size: 0.66666rem;
  font-weight: 500;
  text-transform: uppercase;
}

.featured-card-status
{
  border-radius: 4px;
  background-color: #ff5e15;
}

.featured-card-top-row-right
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.featured-card-thunder
{
  border-radius: 4px;
  background-color: #2a42e8;
}

.featured-card-thunder-img
{
  font-size: 0.6rem;
  padding: 10px 13px;
  color: #ffffff;
}

.featured-card-price
{
  border-radius: 4px;
  background-color: #ffffff;
  padding: 8px 17px;
}

.featured-card-price-text
{
  color: #2a42e8;
  font-size: 0.833333rem;
  font-weight: 500;
}

.featured-card-heart, .featured-card-change
{
  border-radius: 4px;
  background-color: #000000;
}

.featured-card-change
{
  margin-left: 4px;
}

.featured-card-heart-img, .featured-card-change-img
{
  padding: 8.5px 9.5px;
  color: #ffffff;
  font-size: 0.7777rem;
}

.featured-card-bottom
{
  padding: 22px 25px 23px 25px;
  background-color: #ffffff;
}

.featured-card-address-small
{
  display: flex;
  align-items: center;
}

.featured-card-address-small-img
{
  color: #ff5406;
  font-size: 0.7rem;
  margin-right: 7px;
}

.featured-card-address-small-text
{
  color: #848484;
  font-size: 0.777777rem;
  font-weight: 400;
}

.featured-card-address
{
  margin-top: 23px;
  margin-bottom: 23px;
}

.featured-card-address-text
{
  color: #1d1d1d;
  font-size: 1.11111rem;
  font-weight: 400;
  line-height: 1.777777rem;
  letter-spacing: 0.1px;
}

.featured-card-bottom-middle
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.featured-card-author
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.featured-card-author-img
{
  margin-right: 6px;
  max-width: 16px;
}

.featured-card-author-name
{
  color: #2a41e8;
  font-size: 0.77777rem;
  font-weight: 400;
}

.featured-card-date
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.featured-card-date-img
{
  color: #848484;
  font-size: 0.7777rem;
}

.featured-card-date-text
{
  color: #848484;
  font-size: 0.7777rem;
  font-weight: 400;
  margin-left: 9px;
}

.featured-card-bottom-bottom
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #f4f4f4;
  padding-top: 19px;
}

.featured-card-sqft
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.featured-card-sqft-img
{
  margin-right: 7px;
}

.featured-card-sqft-text
{
  color: #111111;
  font-size: 0.8888rem;
  font-weight: 400;
}

.featured-card-sqft-text-bold
{
  font-weight: 500;
}

.featured-card-equipments
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.featured-card-equipments-item
{
  margin-left: 22px;
  display: flex;
  align-items: center;
}

.featured-card-equipments-img
{
  margin-top: -6px;
}

.featured-card-equipments-number
{
  color: #111111;
  font-size: 0.8888rem;
  margin-left: 7px;
  font-weight: 500;
}

.featured-button
{
  margin-top: 38px;
  max-width: 268px;
  margin: 0 auto;
  border-radius: 29px;
  background-color: #000000;
  text-align: center;
}

.featured-button-text
{
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 20px 0;
}

.hotdeal
{
  .container-section-title
  {
    margin-top: 181px;
    margin-bottom: 95px;
  }

  .container
  {
    max-width: 1295px;
    margin: 0 auto;
    padding: 0 22px 0 20px;
  }
}

.hotdeal-card
{
  display: flex;
  height: 597px;
}

.hotdeal-card-left
{
  position: relative;
  flex-basis: 50%;
  margin-right: 1px;
}

.hotdeal-card-img
{
  position: absolute;
  z-index: -1;
}

.hotdeal-button-photo
{
  margin: 498px 0 0 67px;
  border-radius: 4px;
  background-color: #ffffff;
  display: inline-block;
}

.hotdeal-button-photo-text
{
  color: #2a42e8;
  font-size: 0.888888rem;
  font-weight: 500;
  padding: 12px 19px 14px 20px;
}

.hotdeal-card-right
{
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  align-items: center;
  background-color: #292929;
}

.hotdeal-card-title
{
  padding-left: 3px;
  margin-top: 60px;
  letter-spacing: 0.2px;
  color: #9b9b9b;
  font-weight: 400;
}

.hotdeal-card-title-second
{
  margin-top: 43px;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 500;
}

.hotdeal-card-location
{
  display: flex;
  align-items: center;
  margin-top: 46px;
}

.hotdeal-card-location-img
{
  margin-right: 4px;
}

.hotdeal-card-location-text
{
  color: #9b9b9b;
  font-weight: 400;
}

.hotdeal-button-rent
{
  border-radius: 4px;
  background-color: #ff5e15;
  margin-top: 54px;
}

.hotdeal-button-rent-text
{
  padding: 14px 24px 12px 27px;
  color: #ffffff;
  font-size: 0.888888rem;
  font-weight: 400;
}

.hotdeal-button-rent-text-bold
{
  font-weight: 500;
}

.hotdeal-button-play
{
  margin-top: 59px;
}

.hotdeal-list-infos
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 61px;
  padding-left: 6px;
}

.hotdeal-item-infos
{
  display: flex;
  align-items: center;
}

.hotdeal-item-area
{
  margin-right: 40px;
}

.hotdeal-item-bed
{
  margin-right: 41px;
}

.hotdeal-item-bathroom
{
  margin-right: 54px;
}


.hotdeal-item-infos-img
{
  margin-right: 11px;
}

.hotdeal-item-infos-text
{
  display: flex;
  flex-direction: column;
}

.hotdeal-item-infos-text-number
{
  font-weight: 500;
}

.hotdeal-item-infos-text-letter
{
  color: #9b9b9b;
  font-size: 0.888888rem;
  font-weight: 400;
}

.area
{
  .container-section-title
  {
    margin-top: 184px;
    margin-bottom: 92px;
  }

  .container
  {
    max-width: 1296px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

.area-mosaic
{

}

.area-mosaic-list
{
  
}

.area-mosaic-row
{
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.area-mosaic-item
{
  border-radius: 6px;
  position: relative;
  height: 360px;
}

.area-mosaic-losangles, .area-mosaic-sandiego
{
  flex-basis: 31.847%;
}

.area-mosaic-sanfrancisco, .area-mosaic-seattle
{
  flex-basis: 65.764%;
}

.area-mosaic-item-img
{
  position: absolute;
  z-index: -1;
  height: 100%;
  width: auto;
}

.area-mosaic-item-text
{
  padding: 285px 0 0 31px;
}

.area-mosaic-item-text-city
{
  color: #ffffff;
  font-size: 1.77777rem;
  font-weight: 500;
  letter-spacing: 3px;
}

.area-mosaic-item-text-properties
{
  display: flex;
  margin-top: 8px;
  align-items: center;
}

.area-mosaic-item-text-properties-img
{
  margin-right: 8px;
}

.area-mosaic-item-text-properties-text
{
  color: #ffffff;
  font-weight: 400;
}

.agents
{
  background-color: #f3f3f3;

  .container-section-title
  {
    margin-top: 122px;
    margin-bottom: 95px;
    padding-top: 92px;
  }

  .container
  {
    max-width: 1296px;
    margin: 0 auto;
    padding: 0 20px 0 21px;
  }
}

.agents-list
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.agents-item
{
  padding: 30px 30px 28px 30px;
  flex-basis: 31.8725%;
  border-radius: 4px;
  background-color: #ffffff;
}

.agents-item-job
{
  color: #999999;
  font-weight: 400;
  margin-top: 28px;
}

.agents-item-name
{
  color: #111111;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 34px;
  margin-left: -2px;
}

.agents-item-number
{
  margin-bottom: 12px;
}

.agents-item-number, .agents-item-email
{
  color: #636363;
  font-weight: 400;
}

.agents-item-list-socials
{
  display: flex;
  align-items: center;
}

.agents-item-social
{
  margin-top: 45px;
}

.agents-item-social-icon
{
  padding: 18px 26.5px;
  border: 1px solid #ececec;
  color: #262626;
}

.agents-item-social
{
  .fa-facebook-f
  {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  .fa-linkedin-in
  {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}

.agents-navigation
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 86px;
  padding-bottom: 65px;
}

.agents-navigation-block
{
  margin: 0 8.5px 0 8.5px;
}

.agents-navigation-point:after
{
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #000000;
}

.agents-navigation-block
{
  border: 1px solid #f3f3f3;
  padding: 5px;
  border-radius: 15px;
}

.agents-navigation-block-active
{
  border-color: #000000;
}

.agents-navigation-block:hover
{
  border-color: #000000;
}

.sell
{
  background: url('../img/sellpropertyimg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .sell-container
  {
    padding: 187px 0 186px 325px;
  }
}

.sell-block
{
  padding: 90px 123px 91px 76px;
  background-color: #2842cd;
  max-width: 734px;
}

.sell-title
{
  color: #ffffff;
  font-size: 3.33333rem;
  font-weight: 500;
  line-height: 3.33333rem;
  margin-bottom: 38px;
}

.sell-description
{
  color: #c6cbea;
  font-size: 1.11111rem;
  font-weight: 400;
  line-height: 1.666666rem;
  margin-bottom: 44px;
}

.sell-button
{
  border-radius: 29px;
  background-color: #000000;
  display: inline-block;
  padding: 20px 32px 20px 36.5px;
}

.sell-button-link
{
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sell-button-link-arrow
{
  color: #ffffff;
  margin-left: 39px;
  font-size: 0.5rem;
}

.agencies
{
  margin-bottom: 194px;

  .container-section-title
  {
    margin-top: 132px;
    margin-bottom: 93px;
  }

  .container
  {
    max-width: 1295px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

.agencies-list
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.agencies-item
{
  padding: 30px 31px 46px 34px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-basis: 31.8725%;
  border-radius: 6px;
  background-color: #ffffff;
}

.agencies-item-topbar
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.agencies-item-verified
{
  display: flex;
  align-items: center;
}

.agencies-item-verified-img
{
  margin-right: 11px;
}

.agencies-item-verified-text
{
  color: #676767;
  font-size: 0.88888rem;
  font-weight: 400;
}

.agencies-item-star
{
  display: flex;
  align-items: center;
}

.agencies-item-star-img
{
  margin-right: 6px;
  color: #ffc107;
  font-size: 0.85rem;
}

.agencies-item-star-text
{
  color: #676767;
  font-size: 0.8888rem;
  font-weight: 400;
}

.agencies-item-img
{
  margin-top: 42px;
  margin-bottom: 62px;
}

.agencies-item-city
{
  display: flex;
  align-items: center;
}

.agencies-item-city-img
{
  margin-right: 11px;
}

.agencies-item-city-text
{
  color: #999999;
  font-weight: 400;
}

.agencies-item-name
{
  margin-top: 20px;
  margin-bottom: 18px;
  color: #111111;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.agencies-item-number
{
  color: #636363;
  font-weight: 400;
}

.agencies-item-email
{
  margin-top: 12px;
  margin-bottom: 38px;
  color: #636363;
  font-weight: 400;
}

.agencies-item-button
{
  padding: 13px 17px 14px 18px;
  border-radius: 3px;
  background-color: #eaedfd;
}

.agencies-item-button-text
{
  color: #2a41e8;
  font-size: 0.88888rem;
  font-weight: 400;
}

.articles
{
  background-color: #f3f3f3;
  padding-top: 121px;
  padding-bottom: 120px;

  .container-section-title
  {
    margin-bottom: 128px;
  }

  .container
  {
    max-width: 1295px;
    margin: 0 auto;
    padding: 0 19px 0 22px;
  }
}

.articles-list
{
  display: flex;
  justify-content: space-between;
}

.articles-item
{
  flex-basis: 31.897%;
  border-radius: 6px;
  background-color: #ffffff;
}

.articles-item-block-bottom
{
  padding: 25px 26px 32px 30px;
  height: 248px;
  display: flex;
  flex-direction: column;
}

.articles-item-category
{
  border-radius: 3px;
  background-color: #2a42e8;
  align-self: flex-start
}

.articles-item-category-text
{
  padding: 7px 13px 5px 13px;
  color: #ffffff;
  font-size: 0.72222rem;
  font-weight: 400;
}

.articles-item-title
{
  margin-top: 12px;
  color: #111111;
  font-size: 1.55555rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 40px;
}

.articles-item-date
{
  border-top: 1px solid #f7f7f7;
  display: flex;
  align-items: center;
  margin-top: auto;
}

.articles-item-date-img, .articles-item-date-text
{
  padding-top: 30px;
}


.articles-item-date-img
{
  margin-right: 7px;
}

.articles-item-date-text
{
  color: #111111;
  font-size: 0.777777rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.articles-button
{
  margin-top: 124px;
  max-width: 324px;
  margin: 0 auto;
  border-radius: 29px;
  background-color: #000000;
  text-align: center;
}

.articles-button-text
{
  padding: 20px;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.values
{
  margin-top: 123px;
  margin-bottom: 118px;
  //background-color: #ffffff;

  .container-section-title
  {
    margin-bottom: 96px;
  }

  .container
  {
    max-width: 1296px;
    margin: 0 auto;
    padding: 0 20px 0 22px;
  }
}

.values-list
{
  display: flex;
  justify-content: space-between;
}

.values-item
{
  flex-basis: 31.897%;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 40px 39px 38px 42px;
  height: 314px;
}

.values-send
{
  .values-item-title
  {
    margin-top: 19px;
  }
}

.values-coeur
{
  padding-top: 42px;
}

.values-item-img
{
  align-self: flex-start;
}

.values-item-title
{
  margin-top: 23px;
  margin-bottom: 22px;
  color: #111111;
  font-size: 1.55555rem;
  font-weight: 400;
  line-height: 2rem;
}

.values-item-description
{
  color: #999999;
  font-size: 0.8888rem;
  font-weight: 400;
  line-height: 1.55555rem;
}

.values-button
{
  border-radius: 29px;
  background-color: #000000;
  max-width: 203px;
  margin: 64.5px auto 0 auto;
}

.values-button-text
{
  padding: 20px 0px 20px 41px;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.reviews
{
  background: url('../img/clientssay-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .container
  {
    max-width: 1300px;
    margin: 0 auto;
    padding: 161px 20px 188px 25px;
  }
}

.reviews-title-small
{
  color: #f4f4f4;
  font-size: 0.77777rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.reviews-title
{
  margin-top: 20px;
  margin-bottom: 113px;
  color: #ffffff;
  font-size: 3.11111rem;
  font-weight: 400;
}

.reviews-title-bold
{
  font-weight: 500;
}

.reviews-description
{
  margin-bottom: 63px;
  max-width: 1256px;
  color: #f4f4f4;
  font-size: 1.66666rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 2.666666rem;
}

.reviews-bottombar
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews-bottombar-left
{
  display: flex;
  align-items: center;
}

.reviews-author-img
{
  margin-right: 28px;
}

.reviews-author-infos
{
  display: flex;
  flex-direction: column;
}

.reviews-author-infos-name
{
  margin-bottom: 8px;
  color: #f4f4f4;
  font-size: 1.33333rem;
  font-weight: 500;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.reviews-author-infos-city
{
  color: #afafaf;
  font-size: 0.8333333rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.reviews-bottombar-right
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reviews-block-arrow
{
  border-radius: 4px;
  background-color: #2a42e8;
}

.reviews-block-arrow-left
{
  margin-right: 5px;
}

.reviews-arrow-left
{
  padding: 20px 23px 19px 27px;
}

.reviews-arrow-right
{
  padding: 20px 23px 19px 28px;
}

.reviews-arrow-left, .reviews-arrow-right
{
  color: #ffffff;
  font-size: 1.111111rem;
}

.footer
{
  background-color: #151515;
}

.footer-topbar
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 97px;
  border-bottom: 1px solid #191919;
  padding-left:324px;
  padding-right: 278px;
}

.footer-logo
{
  display: flex;
  align-items: center;
}

.footer-logo-h1, .footer-logo-h1-highlight
{
  color: #ffffff;
}

.footer-list-socials
{
  display: flex;
  align-items: center;
}

.footer-item-socials
{
  border-left: 1px solid #191919;
  padding: 40px;
}

.footer-item-socials-last
{
  margin-right: 46px;
  border-right: 1px solid #191919;
}

.footer-item-socials-icon
{
  color: #ffffff;
  font-size: 1.4rem;
}

.footer-middlebar
{
  display: flex;
  
  padding: 0 20px 82px 26px;
  max-width: 1306px;
  margin: 0 auto;
}

.footer-col 
{
  display: flex;
  flex-direction: column;
}

.footer-col-1
{
  flex-basis: 14.8%;
  margin-right: 22px;
}

.footer-col-2
{
  flex-basis: 12.07%;  
  margin-right: 67px;
}

.footer-col-3
{
  flex-basis: 10.5%; 
  margin-right: 87px; 
}

.footer-col-4
{
  margin-right: 82px;
  flex-basis: 11%;  
}

.footer-col-5
{
  flex-basis: 32%;
}

.footer-col-title
{
  color: #b9b9b9;
  font-size: 0.88888rem;
  font-weight: 500;
  letter-spacing: 1.14px;
  text-transform: uppercase;
}

.footer-col-nav
{
  display: flex;
  flex-direction: column;
  margin-top: 52.5px;
}

.footer-col-nav-link
{
  color: #8a8a8a;
  font-size: 0.88888rem;
  font-weight: 400;
  letter-spacing: 1.14px;
  text-decoration: none;
  margin-bottom: 26px;
}

.footer-col-theme
{
  color: #8a8a8a;
  font-family: Rubik;
  font-size: 0.88888rem;
  font-weight: 400;
  letter-spacing: 1.14px;
  line-height: 1.33333rem;
  margin-top: 39px;
  margin-bottom: 22px;
}

.footer-col-theme-bold
{
  font-weight: 500;
}

.footer-col-linklogo
{
  display: flex;
  align-items: center;
}

.footer-col-linklogo-link
{
  color: #8a8a8a;
  font-size: 0.88888rem;
  font-weight: 400;
  letter-spacing: 1.14px;
  line-height: 1.33333rem;
  text-decoration: none;
}

.footer-col-linklogo-logo
{
  margin-right: 11px;
  color: #8a8a8a;
  font-size: 0.88888rem;
}

.footer-bottombar
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #252525;
  padding-top: 63px;
  padding-bottom: 63px;
}

.footer-bottombar-left
{
  padding-left: 326px;
}

.footer-bottombar-text
{
  color: #8a8a8a;
  font-size: 0.7777rem;
  letter-spacing: 1.08px;
  font-weight: 400;
}

.footer-bottombar-text-bold
{
  font-weight: 500;  
}

.footer-bottombar-right
{
  margin-top: -2px; 
  padding-right: 320px;
}

.footer-bottombar-list-links
{
  display: flex;
  align-items: center;
}

.footer-bottombar-link
{
  margin-left: 18px;
}

.footer-bottombar-link-text
{
  color: #8a8a8a;
  font-size: 0.77777rem;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 1px;
}

